* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
    font-family: 'Montserrat', sans-serif;
}